<%- include('./partials/header') %>
  <body>
    <!--<h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%# if (isSpecial) { %>
      <p>I am special.</p>
    <%# } %>-->

    <ul>
      <% books.forEach((book) => { %>
        <h2><%= book.title %></h2>
        <p><%= book.author %></p>
      <% }) %>
    </ul>
  </body>
</html>
